@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Comforter+Brush&family=Fira+Sans:ital,wght@0,100;0,400;1,200&family=Mr+Dafoe&family=Outfit:wght@500&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,500&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Comforter+Brush&family=Fira+Sans:ital,wght@0,100;0,400;1,200&family=Mr+Dafoe&family=Outfit:wght@500&family=Press+Start+2P&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,500&family=VT323&display=swap");
.App {
  text-align: center;
  font-family: "Press Start 2P", "VT323";
  color: whitesmoke;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.overlay {
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.moving-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(./assets/background/parallax-bg.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 40%;
  background-attachment: fixed;
}
